.footer {
    background-color: #f0f0f0;
    color: #6c757d;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }